# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments (Virtual Envs)
.venv/
venv/
ENV/
env/

# Data & Database (Ignorar los archivos pesados generados)
data/*.csv
data/*.json
data/*.sql
script_generado.sql
*.db
*.sqlite

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
# aca por si descubro alguna foram de quitar las malas palabras de mi codigo :/
